* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  display: inline-block;
  outline: none;
  border: none;
  background: crimson;
  color: #fff;
  padding: 13px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="text"] {
  outline: none;
  padding: 10px;
  width: 100vh;
}

.one {
  margin-top: 30px;
}

h1 {
  color: blue;
  border: 1px solid gray;
  margin-top: 10px;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
}

.left > h2{
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  margin: 10px;
  color: blue;
}


.leftol{
  margin: 30px 40px;
  border: 1px solid gray;
  width: 50%;
  padding: 20px;
}


li{
  padding: 5px 0;
}


.myli{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
}